# Eclipse.
bin
*.launch
.settings
.metadata
.classpath
.project

# .idea
out
*.ipr
*.iws
*.iml
.idea

# Gradle.
build
.gradle

# Other.
eclipse
run

# Forge.
forge*changelog.txt

*.DS_Store

# Useless
src/main/java/you/are/ratted/
